{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Personal Health Profile</title>
<link rel="stylesheet" href="{% static 'css/profile.css' %}">

<style>
.container { display:flex; }

.main { padding:20px; width:100%; }

.profile-box {
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px #ddd;
    width:60%;
}

input {
    width:100%;
    padding:8px;
    margin-bottom:10px;
}

.btn-group {
    display:flex;
    gap:10px;
}

.save-btn {
    background:green;
    color:white;
    padding:10px;
}

.edit-btn {
    background:orange;
    color:white;
    padding:10px;
}
</style>
</head>

<body>

<div class="container">

<!-- Sidebar -->

<div class="sidebar">

<h2 class="logo">
<span class="health">Health</span><span class="step">Step</span>
</h2>

<ul>

<hr>
<li><a href="{% url 'Profile' %}">Home</a></li>
<hr>

<li><a href="{% url 'daily_entry' %}">Daily Entry</a></li>
<hr>

<li><a href="{% url 'health_stat' %}">Health Stats</a></li>
<hr>


<li><a href="{% url 'personal' %}">Personal Profile</a></li>
<hr>

<li><a href="{% url 'logout' %}">Logout</a></li>
<hr>

</ul>

</div>

<!-- MAIN -->

<div class="main">

    <h1 class="page-title">Personal Health Profile</h1>

    <div class="profile-box">

        <form method="POST">
            {% csrf_token %}

            <h3 class="form-title">Personal Profile</h3>

            <label>Name</label>
            <input type="text" name="name" value="{{ user.name }}" disabled>

            <label>Email</label>
            <input type="email" name="email" value="{{ user.email }}" disabled>

            <label>Age (Health Record)</label>
            <input type="number" name="age" value="{{ user.age }}" disabled>
             
            <label>Gender</label>
            <input type="text" name="gender" value="{{ user.gender }}" disabled>

            <label>Height (cm)</label>
            <input type="number" name="height" value="{{ report.height }}" disabled>

            <label>Weight (kg)</label>
            <input type="number" name="weight" value="{{ report.weight }}" disabled>

            <label>Blood Pressure</label>
            <input type="number" name="bp" value="{{ report.bp }}" disabled>

            <label>Sugar</label>
            <input type="number" name="sugar" value="{{ report.sugar }}" disabled>

            <div class="btn-group">
                <button type="submit" class="save-btn">Save</button>
                <button type="button" class="edit-btn" onclick="enableEdit()">Edit</button>
            </div>

        </form>

    </div>

</div>
</div>

<script>
function enableEdit() {
    document.querySelectorAll("input").forEach(i => i.disabled = false);
}
</script>

</body>
</html>